<body id="interview">
<div class="pt-5 mb-5">
 <div class="row justify-content-center">
  <% if @interview.photo? %>
   <%= cl_image_tag @interview.photo.url %>
  <% else %>
   <%= cl_image_tag("default.png_m8owuo.png") %>
  <% end %>
  <div class="card">
   <div class="card-body">
    <h3><%= @interview.title %></h3>
   </div>
  </div>
 </div>
</div>

<div class="row justify-content-center mt-5">
 <% if @user.icon? %>
  <p><%= cl_image_tag @user.icon.url %></p>
 <% else %>
  <%= cl_image_tag("default.png_m8owuo.png") %>
 <% end %>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-sm-4">
   <table class="table table-sm table-bordered table-light  font-weight-bold">
     <tr><td>[名前】 <%= @user.name %></td></tr>
     <tr><td>[地域]  <%= @user.area %></td></tr>
     <tr><td>[年齢]  <%= @user.age %></td></tr>
     <tr><td>[性別]  <%= @user.gender %></td></tr>
     <tr><td>[担当]  <%= @user.part %></td></tr>
     <tr><td>[ジャンル]  <%= @user.category %></td></tr>
     <tr><td>[検索用コメント]  <%= @user.comment %></td></tr>
   </table>
  </div>
</div>

<div class="card">
 <div class="card-header">
  <p class="text-danger">Q1,はじめまして<%= @user.name %>さん。本日はお会いできて光栄です。まず、初めての読者に向けて〇〇さんの簡単な自己紹介をお願い致します。</P>
 </div>
 <div class="card-body">
   <%= @interview.answer_1 %>
 </div>
</div>
 
<div class="card mt-5">
 <div class="card-header">
  <p class="text-danger">Q2,ありがとうございます。さっそくインタビューに入りたいと思います。まず、<%= @user.name %>さんの好きな音楽、バンドなど教えて頂けますか？</p>
 </div>
   <%= @interview.answer_2 %>
</div>

<div class="card mt-5">
 <div class="card-header">
  <p class="text-danger">Q3、なるほど。では、その中で特に好きなアルバムと、それを選んだ理由を教えて頂けますか？</p>
 </div>
  <%= @interview.answer_3 %>
</div>  
  
<div class="card mt-5">
 <div class="card-header"> 
  <p class="text-danger">Q4、ありがとうございます。ちなみに音楽を聴くときはどういう部分を中心に聴きますか？例えばドラムのハイハットを中心に全体を聴いたり、
   ギターの音作りを中心に聴くなど人それぞれあると思います。
   一緒に演奏する人は、そういった部分も実は気になってる点ではないかと思うのでお伺いしたいのですが。</p>
 </div>
  <%= @interview.answer_4 %>
</div>

<div class="card mt-5">
 <div class="card-header"> 
  <p class="text-danger">Q5、ありがとうございます。非常に興味深いですね。もう少し掘り下げていきたいのですが、例えば単純に｢音質が好き｣というアルバムはありますか？
  この場合、曲やバンドが好きじゃなくても構わないので｢音質｣そのものが好きなアルバムです。
  レコーディングやライブをする時に、こういった所の相性も重要だと思います。</p>
 </div>
  <%= @interview.answer_5 %>
</div> 

<div class="card mt-5">
 <div class="card-header"> 
  <p class="text-danger">Q6,ありがとうございます。なんとなく<%= @user.name %>さんの音楽に対する｢良い音｣が見えてきました。では、使用楽器などあれば見せて頂けませんか？
   それと、影響を受けたプレーヤーがいれば教えて下さい。</p>
 </div>
  <%= @interview.answer_6 %>
</div> 

<div class="row justify-content-center mt-5">
 <% if @interview.gakki? %>
  <%= cl_image_tag @interview.gakki.url %>
 <% else %>
  <%= cl_image_tag("default.png_m8owuo.png") %>
 <% end %>
</div>

<div class="card mt-5">
 <div class="card-header">
  <p class="text-danger">Q7,素晴らしいです!ここで、ちょっと変わった質問なのですが、<%= @user.name %>さんのアイデンティティを証明するようなアイテムはありますか？例えばバンドTなど。
   人によっては｢このバンドTを着てるやつは信用できる！｣みたいなアンテナがあると思うので、そこに訴えかける何か
   紹介できるものがありましたら見せて頂けますか？</P>
 </div>
 <%= @interview.answer_7 %> 
</div>   

<div class="row justify-content-center mt-5">
 <% if @interview.item? %>
  <%= cl_image_tag @interview.item.url %>
 <% else %>
  <%= cl_image_tag("default.png_m8owuo.png") %>
 <% end %>
</div>
  
<div class="card mt-5">
 <div class="card-header"> 
 <p class="text-danger">Q8,素晴らしいですね。きっと共鳴してくれる方がいらっしゃると思います。次に<%= @user.name %>さんの音楽観、
 今の方向性に繫がるようなライブの体験や映像作品などあれば教えて下さい。映像は音楽以外のものでも構いません。</P>
 </div> 
  <%= @interview.answer_8 %>
</div>  

<div class="card mt-5">
 <div class="card-header">
  <p class="text-danger">Q9,ありがとうございます。とても素晴らしいですね。では、残念ながらそろそろお時間ですので、最後にこれを読んでる読者に向けて、
  <%= @user.name %>さんの演奏や歌が実際に聴けるサイトのURLや今後の活動方針について、何か伝えておきたいことがあればお願い致します。</P>
 </div>
  <%= text_url_to_link(h(@interview.answer_9)).html_safe %>
</div>  

  

 <div class="card mt-5 mb-5">
  <div class="card-header">
   <p class="text-danger h4">これでインタビューは終了となります。本日はお忙しい中、ありがとうございました!</p>
  </div>
 </div>


 <% if @user.twitter? || @user.facebook? || @user.instagram? %> 
<div class="card bg-light mt-5 mb-5">
  <h4 class="text-danger h5 text-center"><%= @user.name %>さんに声をかけてみたいと思った方は、こちらのSNS リンクから<%= @user.name %>さんへ連絡してみましょう！</h3>
 <% end %> 
  <div class="row justify-content-center">
 <% if @user.twitter? %> 
   <%= link_to ("https://twitter.com/" + @user.twitter) ,target: :_blank,class:"btn btn-primary ml-2" do %>
    <i class="fab fa-twitter"></i><h6>Twitter</h6>
   <% end %>
 <% end %>
 <% if @user.facebook? %> 
   <%= link_to ("https://www.facebook.com/" + @user.facebook),target: :_blank, class: "btn btn-success ml-2" do %>
    <i class="fab fa-facebook-square"></i><h6>Facebook</h6>
   <% end %>
 <% end %>
 <% if @user.instagram? %> 
   <%= link_to ("https://www.instagram.com/" + @user.instagram), target: :_blank,class: "btn btn-secondary ml-2" do%>
    <i class="fab fa-instagram"></i><h6>Instagram</h6>
   <% end %>
 <% end %> 
  </div>
</div>

 <div class="row justify-content-center">
  <% if logged_in? %>
   <%= render "greats/praise_button", user: @user %>
  <% else %>
   <%= link_to "あなたもMyインタビューを作りましょう！", login_path,class: "btn btn-success text-light mb-5" %>
  <% end %>
 </div>
</body>