<h1 class="pt-3"><%= @user.name %>のプロフィール編集ページ</h1>


<%= form_for(@user) do |f| %>
 <div class="field">
   <% if @user.icon? %>
    <div class="thumbnail">
      <%= image_tag @user.icon.url %>
    </div>
   <% end %><br>
   <%= f.label :icon, "プロフィール画像" %>
   <%= f.file_field :icon %>
   <%= f.hidden_field :icon_cache %>
 </div>
 <div class="field">
   <% if @user.persisted? && @user.icon? %>
    <label>
      <%= f.check_box :remove_icon %>
      画像を削除
    </label>
   <% end %>
 </div>
 <ul class="input">
  <li><%= f.label :name, "名前", class:"text-danger" %></li>
  <li><%= f.text_field :name %></li>
  
  <li><%= f.label :area, "地域", class:"text-danger" %></li>
  <li><%= f.select :area, User.areas.keys %></li>
  
  <li><%= f.label :age, "年齢", class:"text-danger" %></li>
  <li><%= f.select :age,{
  "10~15":"10~15","15~20":"15~20","20~25":"20~25","25~30":"25~30","30~35":"30~35","35~40":"35~40","40~45":"40~45","45~50":"45~50","50~55":"50~55","55~60":"55~60","60~":"60~"}%></li>
  
  <li><%= f.label :gender, "性別", class:"text-danger" %></li>
  <li><%= f.select :gender,{男性:"男性",女性:"女性",その他:"その他"}%></li>
  
  <li><%= f.label :part, "担当", class:"text-danger" %></li>
  <li><%= f.select :part,{vocal:"vocal",guitar:"guitar",bass:"bass",drum:"drum",keyboard:"keyboard",other:"other"} %></li>
  
  <li><%= f.label :category, "ジャンル", class:"text-danger" %></li>
  <li><%= f.select :category,{rock:"rock",punk:"punk",hardcore:"hardcore","post-punk":"post-punk","post-hardcore":"post-hardcore",emo:"emo","hip-hop":"hip-hop",
  reggae:"reggae",folk:"folk",instrument:"instrument",noise:"noise",industrial:"industrial",dub:"dub",jazz:"jazz",other:"other"}%></li>
 <div class="actions mt-4 ">
     <%= f.submit "プロフィール更新"%>
 </div>
 </ul>
<% end %>