<h1 class="pt-5"><%= @user.name %>のプロフィール編集ページ</h1>


<%= form_for(@user) do |f| %>
 <div class="field">
   <% if @user.icon? %>
    <div class="thumbnail">
      <%= image_tag @user.icon.url %>
    </div>
   <% end %><br>
   <%= f.label :icon, "プロフィール画像" %>
   <%= f.file_field :icon %>
   <%= f.hidden_field :icon_cache %>
 </div>
 <div class="field">
   <% if @user.persisted? && @user.icon? %>
    <label>
      <%= f.check_box :remove_icon %>
      画像を削除
    </label>
   <% end %>
 </div>
 <ul>
 <li style="list-style:none;"><%= f.label :name, "名前", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :name %></li>
 <li style="list-style:none;"><%= f.label :area, "地域", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :area%></li>
  <li style="list-style:none;"><%= f.label :age, "年齢", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :age %></li>
 <li style="list-style:none;"><%= f.label :gender, "性別", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :gender %></li>
 <li style="list-style:none;"><%= f.label :part, "担当", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :part %></li>
 <li style="list-style:none;"><%= f.label :category, "ジャンル", class:"text-danger" %></li>
 <li style="list-style:none;"><%= f.text_field :category %></li>
 <div class="actions mt-2">
     <%= f.submit "プロフィール更新"%>
 </div>
 </ul>
<% end %>