<h1 class="pt-5"><%= @user.name %>のプロフィール編集ページ</h1>


<%= form_for(@user) do |f| %>
 <div class="field">
   <% if @user.icon? %>
    <div class="thumbnail">
      <%= image_tag @user.icon.url %>
    </div>
   <% end %><br>
   <%= f.label :icon, "プロフィール画像" %>
   <%= f.file_field :icon %>
   <%= f.hidden_field :icon_cache %>
 </div>
 <div class="field">
   <% if @user.persisted? && @user.icon? %>
    <label>
      <%= f.check_box :remove_icon %>
      画像を削除
    </label>
   <% end %>
 </div>
 <%= f.label :name, "名前" %>
 <%= f.text_field :name %>
 <%= f.label :area, "地域" %>
 <%= f.text_field :area %>
 <div class="actions mt-2">
     <%= f.submit "プロフィール更新"%>
 </div>
<% end %>