<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
<% end %>
<div class="row justify-content-start pt-5">
  <div class="col-sm-3">
   <h3><%= @user.name %></h3>
   <p><%= image_tag @user.icon.url %></p>
  </div>    
    <div class="col-sm-3 pt-4">
      <table class="table table-sm table-bordered table-light">
        <tr><td>[地域]  <%= @user.area %></td></tr>
        <tr><td>[年齢]  <%= @user.age %></td></tr>
        <tr><td>[性別]  <%= @user.gender %></td></tr>
        <tr><td>[担当]  <%= @user.part %></td></tr>
        <tr><td>[ジャンル]  <%= @user.category %></td></tr>
      </table>
      <div class="row"> 
        <p><%= link_to"SNSリンク1",@user.sns_1, class: "btn btn-primary ml-3" %></p>
        <p><%= link_to"SNSリンク2",@user.sns_2, class: "btn btn-success ml-3" %></P>
      </div> 
    </div>
    
    <div class="col-sm-3 pt-4">
      <p><%= link_to "プロフィール編集へ",edit_user_path(@user), class: "btn btn-warning pt-4 pb-4" %></p>
      <p><%= link_to "インタビュー作成へ",root_path, class: "btn btn-info pt-4 pb-4" %></p>
      <p><%= link_to "退会する",root_path, class: "btn btn-danger " %></p>
    </div>
</div>
